/* Font import */
@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');


/* Pop Modal style */

@import url("https://fonts.googleapis.com/css2?family=Staatliches&display=swap");
.sidebar-menu a span {
    font-size: 16px;
    font-weight: 500;
}


/* Modal Content Styling */

.modal-content.custom-modal {
    padding: 0.5rem;
    border-radius: 8px;
}


/* Close button styling */

.custom-modal .btn-close {
    margin-left: auto;
    margin-bottom: -10px;
}


/* Modal Title */

.custom-modal .modal-title {
    font-size: 1.5rem;
    font-family: "Staatliches", sans-serif;
    color: black;
}


/* Form labels */

.custom-modal .form-label {
    font-family: "Staatliches", sans-serif;
    color: black;
}


/* Input fields */

.custom-modal .form-control {
    border-radius: 6px;
    padding: 10px;
    font-weight: 500;
}


/* Submit button */

.custom-modal .submit-btn {
    background-color: #06367b;
    color: white;
    border: none;
    width: 100%;
    padding: 12px;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 10px;
}


/* Validation feedback */

.text-danger,
.invalid-feedback {
    font-size: 0.875em;
    margin-top: 0.25rem;
}

.custom-modal-content {
    padding: 0.5rem 1rem;
    border-radius: 8px;
}

.close-button {
    margin-left: auto;
}

.custom-modal-header {
    border-bottom: none;
    padding: 0.5rem 0 0.25rem 0;
}

.custom-modal-title {
    font-size: 1.5rem;
    font-family: "Staatliches", sans-serif;
    margin: 0;
    color: black;
}

.label-custom {
    font-family: "Staatliches", sans-serif;
    color: black;
}

.input-custom {
    border-radius: 6px;
    padding: 8px;
    font-weight: 500;
}

.custom-submit-btn {
    background-color: #06367b;
    color: white;
    border: none;
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 10px;
}

.dataTables_empty {
    text-align: center;
}



.table-card-heading {
    font-family: 'Poppins', !important;
    font-weight: 600;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0;
    color: #000000;
}

.profile-heading {
    font-family: "Staatliches", sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0;
    color: #000000;
}

.submit-btn-profile {
    background-color: #06367b;
    color: white;
    border: none;
    width: 30%;
    padding: 10px;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 10px;
}

.table-card{
    font-family: 'Poppins', !important;
    font-weight: 700;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0;
    color: #000000;
    text-align: center;
}


